.section--grey {
  background-color: $third-background-color;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-member {
  background-color: $main-background-color;
  border-radius: 4px;
}

.team-member__info {
  text-align: center;
  padding: 30px 32px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member__position {
  color: $second-content-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media__item {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: $main-background-color;
  transition: background-color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }
}

.social-media__icon {
  fill: $passive-icon-color;
  transition: color 250ms $animation-timing-function;

  .social-media__item:hover &,
  .social-media__item:focus & {
    fill: $main-background-color;
  }
}
